<nav class="menu container">

  <a class="toggle-nav" href="#">&#9776;</a>
  <a href="/home" class="navbar-link home-link" href="/home">Map Makers</a>

  <ul class="active">
    <li class="navbar-item">
      <a class="navbar-link" href="/concepts">Concepts</a>
    </li>
    <li class="navbar-item">
      <a class="navbar-link" href="/methods">Methods</a>
    </li>
    <li class="navbar-item">
      <a class="navbar-link" href="/workshops">Workshops</a>
    </li>
    <li class="navbar-item">
      <a class="navbar-link" href="/faq">FAQ</a>
    </li>
  </ul>
</nav>
