<ul id="workshops" class="row" >
  {% for post in site.posts %}
    <li class="workshop-item card ">
      <a href="{{post.url}}">
        <div class="card-image">
          <img src="{{post.thumbnail}}" alt="thumbnail">
        </div>

        <div class="card-content">
          <h4>{{post.title}}</h4>
          <p>{{post.subtitle}}</p>
          <div class="card-footer">
            <p>{{ post.date | date: '%B %d, %Y'}} &bull; {{ post.place }}</p>
          </div>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
