footer {
  color: #555;
  text-align: center;
  padding : 3em 0;
  margin-top : 2em;
  border-top: 1px solid #CCC;
  @media screen and (max-device-width: 40rem) {
    margin: 0 1em;
  }
}

footer img {
  max-width: 15%;
}

footer a {
  color : black;
  font-weight: bolder;
  text-decoration: none
}
