.homepic {
  overflow: hidden;
  height: 350px;

  @media screen and (max-device-width: 40rem) {
    height: 30%;
  }

  img {
    width: 100vw;
  }
}

#home {

  margin-top: 3em;
  text-align: center;
  min-height: 100vh;

  h1, h3 {
    font-weight: normal;
  }

  @media screen and (max-device-width: 40rem) {

  }

}
