#workshops {

  li {
    list-style: none;
  }
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  .card-content {
    padding : .2em .5em;

    h4 {
      font-size: 1.3em;
      margin-bottom: .2em;
      a {
        text-decoration: none;
      }
    }

    p {
      font-size: .8em;
      margin: .3em 0;
      // color :#777;
    }
  }
  .card-footer {
    color : #777;
    font-size: .9em;
    p {
      margin: 0
    }
  }

}
